html,body,div,p {
	margin: 0;
}

.root {
	width: 480px;
	min-height: 210px;
	padding: 12px;
}

.content {
	margin-top: 24px;
}

textarea {
	resize: none !important;
	border: none;
	border: solid 1px rgb(96, 98, 102);
	box-shadow: rgb(220, 223, 230) 0px 0px 0px 1px inset;
	border-radius: 4px;
	padding: 6px;
	word-break: break-all;
}

#url {
	width: 450px;
	height: 150px;
	
}

#string {
	width: 450px;
	height: 60px;
}

#monitor {
	width:300px;
	height: 300px;
	border: solid 1px rgb(96, 98, 102);
	margin: 0 auto 24px;
}

.info {
	width: 450px;
	white-space: pre-wrap;
	word-break: break-all;
	font-weight: bold;
	text-align: left;
	margin-top: 12px;
}

.btn-group {
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin-top: 18px;
	width: 100%;
}

