node_modules
dist
*.zip
!/.browserslistrc

!/.eslint-config.js

!/.eslintrc.js

!/.prettierrc.js

!/.stylelintrc.js

!/commitlint.config.js

!/.vscode/settings.json

!/.vscode/extensions.json

!/imagemin.js

!/.gitignore

!/package.json
